@import "../01-config/variables.scss";

@media only screen and (max-width: 799px) {
  .job-listings {
    width: 100%;
    max-width: 1110px;
    padding: 32px 0 108px;
    margin: 0 auto;
    .card {
      width: 87%;
      max-width: 1110px;
      margin: 24px auto 17px;
    }
    .label {
      margin-right: 8px;
    }
  }

  .filter-container {
    width: 87%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    top: -67px;
    margin-bottom: -55px;
    padding: 10px 23px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 10px 15px -5px rgba($Desaturated-Dark-Cyan, 0.25);
    button {
      margin-left: auto;
    }
    .job-filters {
      display: flex;
      flex-wrap: wrap;
      .tag-wrapper {
        margin: 8px 16px 8px 0;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .job-listings {
    width: 95%;
    max-width: 1110px;
    padding: 64px 0 108px;
    margin: 0 auto;
    .card {
      width: 100%;
      max-width: 1110px;
      margin: 12px auto;
    }
    .label {
      margin-right: 8px;
    }
  }

  .filter-container {
    width: 100%;
    max-width: 1110px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 120px;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 10px 15px -5px rgba($Desaturated-Dark-Cyan, 0.25);
    button {
      margin-left: auto;
    }
    .job-filters {
      display: flex;
      flex-wrap: wrap;
      .tag-wrapper {
        margin-right: 16px;
      }
    }
  }
}

@media only screen and (min-width: 1110px) {
  .job-listings {
    width: 100%;
  }
}
